<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<script src="static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="static/css/bootstrap-4.1.3/bootstrap.min.css">
<script src="static/js/bootstrap-4.1.3/bootstrap.min.js"></script> 
<script src="static/js/popper-1.15.0/popper-1.15.0.min.js"></script> 
</head>
<body>
<div xmlns:th="http://www.thymeleaf.org"
	style="border: 1px solid #ccc; background-color: #ec0000; padding: 5px; margin-bottom: 20px;">
	<nav class="navbar navbar-default">
 	 <div class="container-fluid">
	    <div class="navbar-left">
	          <img src="static/image/logo_header.png" alt="">  
	    </div> 
		<div th:if="${#request.userPrincipal != null}">| &nbsp;</div>
		<a class="text-white" th:if="${#request.userPrincipal != null}" th:href="@{/browser}">Resultados</a> 
		<div th:if="${#request.userPrincipal != null}">| &nbsp;</div>
		<a class="text-white" th:if="${#request.userPrincipal != null}" th:href="@{/statistics}">Estad&iacute;sticas</a>
		<div th:if="${#request.userPrincipal != null}">| &nbsp;</div>
		<a class="text-white" th:if="${#request.userPrincipal != null}" th:href="@{/graphics}">Gr&aacute;ficos</a>
		<div th:if="${#request.userPrincipal != null}">| &nbsp;</div> 
		<a class="text-white" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Cerrar sesi&oacute;n</a>
		<a class="text-white" th:if="${#request.userPrincipal == null}" th:href="@{/login}">Iniciar sesi&oacute;n</a>
	  </div>
	</nav>
</div>
</body>
</html>

