<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>
</head>
<body>
	<div class="container" th:unless="${#lists.isEmpty(statistics)}">
		<h6 class="text-left">Resultados</h6>
		<div class="row col-md-12 table-responsive col-md-offset-5">
			<table id="statisticsTable" class="table table-hover table-bordered tableFixHead">
				<thead>
					<tr>
						<th>Id Request</th>
						<th>Files</th>
						<th>Pages</th>
						<th>Last update</th>
						<th>Second per transaction</th>
						<th>Document result</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="statistic, rowStat: ${statistics}"
						th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
						<td class="text-center" th:text="${statistic.idRequest}"></td>
						<td class="text-center" th:text="${statistic.files}"></td>
						<td class="text-center" th:text="${statistic.pages}"></td>
						<td class="text-center" th:text="${statistic.lastUpdate}"></td>
						<td class="text-center" th:text="${statistic.secondsPerTransaction}"></td>
						<td class="text-center">
				            <img src="static/image/search.png" alt="" style="width:15px;height:15px;" onclick="getDocumentResult()"  data-toggle="modal" data-target="#myModal">  
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:if="${#lists.isEmpty(statistics)}" class="text-center">
		<h5>No existen resultados para la fecha ingresada</h5>
	</div>
</body>
</html>