<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>
</head>
<body>
	<div class="container" th:unless="${#lists.isEmpty(statistics)}">
		<div class="row col-md-12 table-responsive col-md-offset-5" th:each="statistic, rowStat: ${statistics}"
						th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
		<h6 th:if="${statistic.total}!=0" class="text-left">Estad&iacute;sticas</h6>
			<table id="statisticsTable" th:if="${statistic.total}!=0"
				class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>KPI</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Registros</td>
						<td class="text-center" th:text="${statistic.total}"></td>
					</tr>
					<tr>
						<td>Resueltos en tiempo establecido</td>
						<td class="text-center" th:text="${statistic.resultasMenos60Seg}"></td>
					</tr>
					<tr>
						<td>Sin respuesta</td>
						<td class="text-center" th:text="${statistic.documentResultNull}"></td>
					</tr>
					<tr>
						<td>Media de archivos enviados</td>
						<td class="text-center"
							th:text="${#numbers.formatDecimal(statistic.mediaFiles,1,2,'COMMA')}"></td>
					</tr>
					<tr>
						<td>Media de p&aacute;ginas enviadas</td>
						<td class="text-center" th:text="${#numbers.formatDecimal(statistic.mediaPages,1,2,'COMMA')}"></td>
					</tr>
					<tr>
						<td>Tiempo medio de respuesta</td>
						<td class="text-center" th:text="${#numbers.formatDecimal(statistic.mediaSecondsPerTransaction,1,2,'COMMA')}"></td>
					</tr>
					<tr>
						<td>Porcentaje en tiempo &lt;= 60 segundos*</td>
						<td class="text-center" th:text="${#numbers.formatDecimal(statistic.porcentajeTiempoEstablecido,1,2,'COMMA')}">%</td>
					</tr>
					<tr>
						<td>Porcentaje de llamadas sin respuesta ***</td>
						<td class="text-center" th:text="${#numbers.formatDecimal(statistic.porcentajeDocumentResultNull,1,2,'COMMA')}"></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${statistic.total}==0" class="text-center">
				<h5 class="text-center text-dark">No existen resultados para la fecha ingresada</h5>
			</div>
		</div>
		
	</div>
</body>
</html>